/** {
	margin: 0;
	padding: 0;
}*/

body {
	margin: 0 auto;
	padding: 0;
	background-position: top;
	background: #ffffff;
	height: 100%;
}

/* Responsive grid system defaults*/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
{
    zoom:1; /* For IE 6/7 */
}
/* End of responsive grid system defaults*/

.intro-text-container {
	text-align: center;
	z-index: 40;
	top: 50%;
	height: 350px;
	margin-top: -135px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.intro-text {
	width: 75%;
	margin: 0 auto;
}

.typed-text {
	text-transform: uppercase;
	font-family: 'Lato';
	font-size: 3.0em;
	letter-spacing: .05em;
	line-height: 1.2em;
}

/*typed cursor*/
.typed-cursor{
	font-size: 4.0em;
	font-weight: 100;
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
/*end of typed cursor*/

.intro-text h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	margin-bottom: 30px;
}

#header-wrapper {
	width: 100%;
	background-color: #FFFFFF;
	z-index: 1000;
}	

.header{
	width: 100%;
	height: 75px;
	width: 93.75%%;
	margin: 0 auto;
	height: 70px;
}

#logo {
	margin-top: 14px;
}
#logo a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	color: #56544d;
	letter-spacing: .08em;
	background-color: #fff;
	border: 2px solid #1aaba3;
	padding: 7px;

}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.sections-menu {
	float:right;
	margin-top: 17px;
}

.navbar a {
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	color: #56544d;
	letter-spacing: .15em;
	font-size: 0.8em;
	margin-left: 24px;
}

#about {
	background-color: #f9f9f5;
}

.content {
	width: 100%;
	z-index: 50;
	position: relative;
	overflow: hidden;
}

.title-about {
	margin: 0 auto;
	padding-top: 10%;
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.8em;
	text-align: center;
}

#about .mac {
	margin: 0 auto;
}

.about-images {
	padding-bottom: 8%;
}


/*unused CSS*/
/*#bg-wrapper {
	background: #ffffff url("/images/blurry.jpg") no-repeat right top;
	z-index: -1;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
*/

