/** {
	margin: 0;
	padding: 0;
}*/

html, body {
	margin: 0 auto;
	padding: 0;
	background-position: top;
	background: #ffffff;
	height: 100%;
}

/* Responsive grid system defaults*/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
{
    zoom:1; /* For IE 6/7 */
}
/* End of responsive grid system defaults*/

.intro-text-container {
	text-align: center;
	z-index: 40;
	top: 55%;
	height: 350px;
	margin-top: -135px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.intro-text {
	width: 75%;
	margin: 0 auto;
}

.typed-text {
	text-transform: uppercase;
	font-family: 'Lato';
	font-size: 3.0em;
	letter-spacing: .05em;
	line-height: 1.2em;
	/*color: #585858;*/
	color: #686673;
}

/*typed cursor*/
.typed-cursor{
	font-size: 3.4em;
	font-weight: 100;
	opacity: 1;
	color: #686673;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
/*end of typed cursor*/

.intro-text h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	margin-bottom: 30px;
	color: #686673;
}

#arrow {
	padding-top: 4%;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}

#header-wrapper {
	width: 100%;
	background-color: #FFFFFF;
	z-index: 1000;
}	

.header{
	width: 100%;
	height: 75px;
	width: 93.75%%;
	margin: 0 auto;
	height: 70px;
}

#logo {
	margin-top: 14px;
}
#logo a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	color: #56544d;
	letter-spacing: .08em;
	background-color: #fff;
	border: 2px solid #b2878f;
	padding: 7px;

}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.sections-menu {
	float:right;
	margin-top: 17px;
}

.navbar a {
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	color: #56544d;
	letter-spacing: .15em;
	font-size: 0.8em;
	margin-left: 24px;
}

img {
	max-width: 100%;
	height: auto;
}

#about {
	background-color: #F6F7F4;
}

#about .title {
	width: 93.75%%;
}

.content {
	width: 100%;
	z-index: 50;
	position: relative;
	overflow: hidden;
}

.title {
	margin: 0 auto;
	padding-top: 10%;
	padding-bottom: 5%;
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.6em;
	text-align: center;
}

.work-item {
	margin-top: 10%;
}

.work-item h2 {
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	letter-spacing: .09em;
	text-align: left;
	color: #1aaba3;
	text-transform: uppercase;
}

.work-item p {
	font-family: 'Lato', sans-serif;
	font-size: 1.0em;
	line-height: 1.4em;
	font-weight: 300;
	text-align: left;
	color: #56544d;
}

.work-description ul {
	padding: 0;
}

.work-description ul li {
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	line-height: 1em;
	font-weight: 300;
	text-align: left;
	color: #BEBFBD;
	display: inline;
}

.center-content {
	width: 93.75%;
	margin: 0 auto;
}

.work-description div {
	margin: auto 0;
}

.odd .work-description  {
	float: left;
}

.odd .browser {
	float: right;
}

.even .work-description {
	float: right;
	margin-left: 1.6%
}

.even .browser {
	float: left;
	margin-left: 0%
}

#about .mac {
	margin: 0 auto;
}

.about-images {
	padding-top: 5%;
	padding-bottom: 10%;
	width: 93.75%;
	text-align: center;
}

hr {
	margin-top: 5%;
	width: 80%;
	background: #fff;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-bottom-color: rgba(208,208,208,0.5);
}

#instafeed {
	text-align: center;
}

#instafeed img {
	margin-top: 5px;
	margin-left: 1%;
	position: relative;
	display: inline-block;
	width: 20%;
}

#footer {
	width: 100%;
	position: absolute;
	background: #FFF;
}

#footer	p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #AAA;
	font-size: 0.875em;
}
/*unused CSS*/
/*#bg-wrapper {
	background: #ffffff url("/images/blurry.jpg") no-repeat right top;
	z-index: -1;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
*/

